.main-image {
	width: 100%;
	opacity: calc(1 - 0.44)
}

.main-image-container {
	background: linear-gradient(180deg, #022473, #3467E0);
	display: flex;
	justify-content: center;
	align-items: center;

}

.centered {
	font-family: Cambria;
	font-size: 13pt;

	position: absolute;
	text-align: center;

	width: 80vw;
}

.features-container {
	display: flex;
	flex-direction: row;
	justify-content: baseline;
	align-items: center;

	overflow-x: scroll;

	background: linear-gradient(99deg, #022473, #042677, #3467E0);


	width: 100vw;
}

.feature {
	color: white;
	font-family: Helvetica;
	font-size: 14pt;
	/* pad 15px up-down, 20px left-right */
	padding: 15px 20px;

	white-space: nowrap;

}
.ft-icon {
	font-size: 18pt !important;
}

.info-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin: 20px;

	width: 90vw;
}

.price {
	font-family: Cambria;
	font-size: 16pt;
	color: #022473;
}

.bed-bath {
	font-family: Helvetica;
	font-size: 16pt;
}

.extra-info-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 90vw;

	font-family: Cambria;
	font-size: large;
}

.property-images-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 90vw;
}

.map-container {
	/* display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center; */
	
	width: 90vw;
}

.brochure-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 90vw;
}

.map {
	width: 100%;
	height: 300px;
}

.property-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
	/* display: block; */
	/* grid-area: image; */
}

.section-title {
	font-family: Cambria;
	font-size: 16pt;
	padding: 20px 0px;
	align-self: flex-start;
}

.property-images-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
}

.brochure-download {
	height: 60px;
	border-radius: 60px;
	justify-content: center;
	align-items: center;
	display: flex;

	width: 80vw;

	margin-bottom: 50px;

	background: linear-gradient(101deg, #022473, #042677, #3467E0);

	color: white;

	font-family: helvetica;
	font-size: 16pt;
	
}

.brochure-download:hover {
	cursor: pointer;
	background: black;
}